<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 连接字符串 -->
    <add key="DataBaseConnectionString" value="mongodb://MZsa:MZdba@59.61.72.34:37088/WorkPlanManage" />
    <!-- 运行的功能Id -->
    <add key="FunctionClassIds" value="" />
    <!--推送地址 -->
    <add key="BugPushUrl" value="" />
    <add key="CustomerCode" value="71E8DBA3-5DC6-4597-9DCD-F3CC1F04FCXH" />
    <add key="OuterConnectionStr" value="mongodb://sa:dba@59.61.72.34/QX" />

    
    <!--外部链接字符串 -->
    <add key="XCOuterConnectionStr" value="Data Source=192.168.1.222;Initial Catalog=xcdcoa;Persist Security Info=True;User ID=sa;Password=dba@DBA" />
    
  </appSettings>
</configuration>