<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 连接字符串 -->
    <add key="DataBaseConnectionString" value="mongodb://sa:dba@192.168.1.230/WorkPlanManage" />
    <!-- 运行的功能Id -->
    <add key="FunctionClassIds" value="2" />
    <!--推送地址 -->
    <add key="BugPushUrl" value="" />
    <!--推送地址 -->
    <add key="CustomerCode" value="" />
    <!--是否自动更新 通过该配置可以进行判断是否console的目录 -->
    <add key="HasAutoUpdate" value="1" />
  </appSettings>
  </configuration>
