<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://125.77.255.2:8027/AutoupdateService.xml</ServerUrl>
  <UserName />
  <PassWord />
  <TryTimes>2</TryTimes>
  <UpdateFileList>
    <LocalFile path="站点检测运营工具/ABCpdf.dll" lastver="7.0.0.8" size="2056136" version="c49c581d-de39-44a9-95ce-853cbd891d3a" tryTimes="" />
    <LocalFile path="站点检测运营工具/AutoSystemHealtyDiagnoses.exe" lastver="1.0.0.0" size="9216" version="76ae5b4d-91d2-482b-8cc5-fa130ff8c69c" tryTimes="" />
    <LocalFile path="站点检测运营工具/AutoSystemHealtyDiagnoses.exe.config" lastver="" size="406" version="4c5d888d-bf4a-4a66-894c-e3dc107d14de" tryTimes="" />
    <LocalFile path="站点检测运营工具/AutoSystemHealtyDiagnoses.pdb" lastver="" size="17920" version="2c39989a-66a0-4c8e-bf72-5aa3d35cd6f5" tryTimes="" />
    <LocalFile path="站点检测运营工具/HtmlAgilityPack.dll" lastver="1.4.0.0" size="133120" version="a79c9739-b597-4221-bc49-c79d7428f8ad" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Bson.dll" lastver="1.3.1.4349" size="293888" version="2c6fccff-46d5-447b-b786-c19dd92b79de" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Bson.pdb" lastver="" size="1078784" version="88945b09-0724-4d7d-b757-a266f5155616" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Bson.xml" lastver="" size="620069" version="5fc56d53-8b7f-4f46-bea4-10d209567962" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Driver.dll" lastver="1.3.1.4349" size="226304" version="25c65b39-33b4-4290-9b03-3c664796ae5b" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Driver.pdb" lastver="" size="914944" version="fd7613f1-9b5d-497b-83a0-a55f1f6c7431" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Driver.xml" lastver="" size="564240" version="0aaee53c-6cd2-4f3c-95ad-70635acd39a9" tryTimes="" />
    <LocalFile path="站点检测运营工具/MyXls.SL2.dll" lastver="1.0.0.0" size="130048" version="d101d706-2806-485a-b1fc-255724aaa679" tryTimes="" />
    <LocalFile path="站点检测运营工具/NLog.dll" lastver="1.0.0.505" size="282624" version="f7c9dc3d-370c-47b5-8c94-007b455361ac" tryTimes="" />
    <LocalFile path="站点检测运营工具/nlog.dll.nlog" lastver="" size="2242" version="05b823cb-e37b-4643-99b7-4832f4ce24ef" tryTimes="" />
    <LocalFile path="站点检测运营工具/NPOI.dll" lastver="1.2.5.0" size="1454080" version="40331bf9-e42a-4c1a-a3ec-8cafd956a15a" tryTimes="" />
    <LocalFile path="站点检测运营工具/QiaoxingWebService.dll" lastver="0.0.0.0" size="10240" version="22fdc641-95d2-454b-86f7-1ed6c54e8c39" tryTimes="" />
    <LocalFile path="站点检测运营工具/QXWebSrvPending.dll" lastver="0.0.0.0" size="40960" version="1b527944-a99d-43a4-8f93-5ff8249b45c5" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.exe" lastver="1.0.0.0" size="19456" version="0542d3c3-59f0-4c70-a088-6cb11bf5e921" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.exe.config" lastver="" size="564" version="21e89626-7175-4151-9e4d-f87869020c84" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.pdb" lastver="" size="38400" version="79e42d10-8eca-439a-b681-c99cc5eab988" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.vshost.exe" lastver="10.0.30319.1" size="11600" version="1a1be2ef-6a7e-4ae2-af54-4511d3861612" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.vshost.exe.config" lastver="" size="564" version="99aee2a0-4e83-484c-9b3f-2657466cf3f4" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.vshost.exe.manifest" lastver="" size="490" version="7e4b74cf-2a79-4679-a9aa-ac9749ab3364" tryTimes="" />
    <LocalFile path="站点检测运营工具/web.config" lastver="" size="477" version="a431da16-aca7-43b1-8448-42b1c9c0998b" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhe.MessageSender.dll" lastver="1.0.0.0" size="19968" version="05952491-9c2d-41cc-9aa9-5ae3b9162cde" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhe.ProcessingCenter.dll" lastver="1.0.0.0" size="3269632" version="43fd57cc-a33d-417e-b683-1472f7654d62" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhe.ProcessingCenter.pdb" lastver="" size="5928448" version="f56b83d3-ad69-474a-8fbe-3de08bca19b2" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhe.WebReference.dll" lastver="1.0.0.0" size="56832" version="febda6e2-5795-4490-a03b-65c6ec7a2c8a" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhe.WebReference.pdb" lastver="" size="75264" version="05318f35-72d8-4ab7-94e5-2943f3637c6d" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhoo.Framework.dll" lastver="1.0.0.0" size="25088" version="66b806b0-fa0c-4ceb-9aa3-a1f0a0e6aed8" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhoo.Utilities.dll" lastver="1.0.0.0" size="131584" version="03ca1337-2de9-4268-9e3f-3b8b731b897a" tryTimes="" />
    <LocalFile path="站点检测运营工具/zxing.dll" lastver="1.0.5000.31779" size="217088" version="040943ee-7a2c-476c-8a25-7537e9e3eed5" tryTimes="" />
    <LocalFile path="站点检测运营工具/Plugins/Plugin_Administration_XC.dll" lastver="1.0.0.0" size="245760" version="cee43dba-0eec-4fea-8948-28378067c8dc" tryTimes="" />
    <LocalFile path="站点检测运营工具/Plugins/Plugin_DesignManage_XC.dll" lastver="1.0.0.0" size="2798592" version="ffc67c5c-511c-415b-bbaf-1ca0837addfb" tryTimes="" />
    <LocalFile path="站点检测运营工具/Plugins/Plugin_MaterialSupplier_XC.dll" lastver="1.0.0.0" size="444928" version="537b1b98-0709-40d5-a025-74a140b05502" tryTimes="" />
    <LocalFile path="站点检测运营工具/Plugins/Plugin_ProductDevelop_XC.dll" lastver="1.0.0.0" size="879104" version="04d77b60-bf83-4214-a02c-30b633701a9c" tryTimes="" />
    <LocalFile path="站点检测运营工具/Plugins/Plugin_StandardResult_XC.dll" lastver="1.0.0.0" size="1314304" version="74d53566-f6e6-40f6-b88c-2ecdfe624ba8" tryTimes="" />
    <LocalFile path="自动更新器/自动更新器.rar" lastver="" size="130433" version="2d348dc7-b221-49a6-bda6-52d734c66c0b" tryTimes="" />
  </UpdateFileList>
</Config>