<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Dll" value="application/octet-stream" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <remove fileExtension=".xml" />
            <remove fileExtension=".dll" />
            <mimeMap fileExtension=".pdb" mimeType="application/x-msdownload" />
            <mimeMap fileExtension=".config" mimeType="application/x-msdownload" />
            <mimeMap fileExtension=".nlog" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".xml" mimeType="application/octet-stream" />
        </staticContent>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <remove fileExtension=".config" />
                </fileExtensions>
                <hiddenSegments>
                    <remove segment="web.config" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
