<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 连接字符串 -->
    <add key="DataBaseConnectionString" value="mongodb://sa:dba@192.168.1.230/WorkPlanManage" />
    <!-- 运行的功能Id -->
    <add key="FunctionClassIds" value="2" />
    <!--推送地址 -->
    <add key="BugPushUrl" value="" />
    <!--推送地址 -->
    <add key="CustomerCode" value="" />
    <!--是否自动更新 通过该配置可以进行判断是否console的目录 -->
    <add key="HasAutoUpdate" value="1" />
    <add key="OuterConnectionStr" value="mongodb://sa:dba@192.168.1.230/158XC" />
    <!--外部链接字符串 -->
    <add key="XCOuterConnectionStr" value="Data Source=192.168.1.222;Initial Catalog=xcdcoa;Persist Security Info=True;User ID=sa;Password=dba@DBA" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>